@import 'include/color.styl'

@charset 'utf-8'
body
    font 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
    //background: url('../../global/images/img.jpg') 100% fixed
    margin 0
    padding 0

h1
h2
h3
h4
h5
h6
    font-family PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif



/*
 * Custom translucent site header
 */
#masthead
    padding-bottom 100px

#header
    
.top-header
    display block
    height 100%

.custom-header
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

// .site-header {
//   background-color: rgba(0, 0, 0, .85);
//   backdrop-filter: saturate(180%) blur(20px);
//   -webkit-backdrop-filter: saturate(180%) blur(20px);
  
// }
.site-header a {
  color: #2a2;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #222;
  text-decoration: none;
}

#site-branding
    padding 35px 0
    border-bottom 1px solid  #eee


.entry-thumbnail
    text-align: center
    margin-bottom: 50px

.entry-thumbnail a
    display: block

#main article
    margin-bottom 40px

#main .related-post-article
    margin-bottom 20px

.tags-links a
    line-height 1.4

.related-posts
.author-container
    border-bottom 1px solid #ebebeb

.author-container
    border-top 1px solid #ebebeb

footer.entry-footer
    margin-top 40px

/*
* 评论样式
*/

/* 
* Footer Custom Style
*/
.footer
    background-color rgba(29, 36, 37, .85)
    color #fff
    padding 35px 0

