{% load static %}

<!-- 网页底部 -->
<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2017 <a href="https://z10.xin/">https://z10.xin</a> All Rights Reserved.</p>
        <!-- 社交链接 -->
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Google+"><i class="fab fa-google-plus-g"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Github"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Email"><i class="far fa-envelope-open"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="微信"><i class="fab fa-weixin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="QQ"><i class="fab fa-qq"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="微博"><i class="fab fa-weibo"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--js-->
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
