{% load static %}
<header id="masthead">
  <div id="site-branding">
    <div class="top-header container mb-1">
      <div class="row">
        <div class="col">
          <ul class="nav float-right">
            <li class="nav-item">
              <a class="nav-link" href="#" title="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Github">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <a href="{% url 'blog:index' %}" class="custom-logo-link" rel="home" itemprop="url">
        <img width="177" height="55" src="{% static 'blog/images/logo1.png' %}" class="custom-logo mx-auto d-block" alt="Blaskan Demo"
          itemprop="logo">
      </a>
    </div>
  </div>
  <!-- 网页头部导航 -->
  <nav class="site-header navbar">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="{% url 'blog:index' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
          <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
          <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
          <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
          <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
          <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </svg>
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </div>
  </nav>
  <div class="custom-header img-fluid" style="background-image:url({% static 'blog/images/custom-header.jpg' %});height:460px"></div>
</header>