<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ user.username }} 用户信息</title>
  <style>
    li {
      list-style: none;
    }
  </style>
</head>

<body>
  {% if user %}
  <ul>
    <li><span>用户名 : </span> {{ user.username }}</li>
    <li><span>昵称 : </span> {{ user.nickname }}</li>
    <li><span>Email : </span> {{ user.email }}</li>
    <li><span>个人站点 : </span> {{ user.web_site }}</li>
    <li><span>avatar : </span> <img src="{{ user.avatar.url }}" alt="" width="250px" height="250px"> </li>
  </ul>
  {% else %}
  <h1>未登陆</h1>
  {% endif %}
</body>

</html>